@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: #f8f6ed;
  --foreground: #252525;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), system-ui, sans-serif;
}
