@import "tailwindcss";

:root {
  --background: #f8f6ed;
  --foreground: #252525;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #f4f3dd;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), system-ui, sans-serif;
}
